In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [2]:
data=pd.read_csv('credit.csv')

In [3]:
data.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes

In [4]:
data.shape

(1000, 17)

In [5]:
data.info

<bound method DataFrame.info of     checking_balance  months_loan_duration credit_history  \
0             < 0 DM                     6       critical
1         1 - 200 DM                    48           good
2            unknown                    12       critical
3             < 0 DM                    42           good
4             < 0 DM                    24           poor
..               ...                   ...            ...
995          unknown                    12           good
996           < 0 DM                    30           good
997          unknown                    12           good
998           < 0 DM                    45           good
999       1 - 200 DM                    45       critical

                  purpose  amount savings_balance employment_duration  \
0    furniture/appliances    1169         unknown           > 7 years
1    furniture/appliances    5951        < 100 DM         1 - 4 years
2               education    2096        < 100 DM         4 - 7 years
3    furniture/appliances    7882        < 100 DM         4 - 7 years
4                     car    4870        < 100 DM         1 - 4 years
..                    ...     ...             ...                 ...
995  furniture/appliances    1736        < 100 DM         4 - 7 years
996                   car    3857        < 100 DM         1 - 4 years
997  furniture/appliances     804        < 100 DM           > 7 years
998  furniture/appliances    1845        < 100 DM         1 - 4 years
999                   car    4576    100 - 500 DM          unemployed

     percent_of_income  years_at_residence  age other_credit housing  \
0                    4                   4   67         none     own
1                    2                   2   22         none     own
2                    2                   3   49         none     own
3                    2                   4   45         none   other
4                    3                   4   53         none   other
..                 ...                 ...  ...          ...     ...
995                  3                   4   31         none     own
996                  4                   4   40         none     own
997                  4                   4   38         none     own
998                  4                   4   23         none   other
999                  3                   4   27         none     own

     existing_loans_count         job  dependents phone default
0                       2     skilled           1   yes      no
1                       1     skilled           1    no     yes
2                       1   unskilled           2    no      no
3                       1     skilled           2    no      no
4                       2     skilled           2    no     yes
..                    ...         ...         ...   ...     ...
995                     1   unskilled           1    no      no
996                     1  management           1   yes      no
997                     1     skilled           1    no      no
998                     1     skilled           1   yes     yes
999                     1     skilled           1    no      no

[1000 rows x 17 columns]>

In [6]:
for i in data.columns:
    if(data[i].dtype=='object'):
        data[i]=pd.Categorical(data[i])
        data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   object
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: category(1), int64(7), object(9)
memory usage: 126.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   object
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: category(2), int64(7), object(8)
memory usage: 119.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   object
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: category(3), int64(7), object(7)
memory usage: 113.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   category
 6   employment_duration   1000 non-null   object
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: category(4), int64(7), object(6)
memory usage: 106.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   category
 6   employment_duration   1000 non-null   category
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   object
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: category(5), int64(7), object(5)
memory usage: 99.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   category
 6   employment_duration   1000 non-null   category
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   category
 11  housing               1000 non-null   object
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: category(6), int64(7), object(4)
memory usage: 93.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   category
 6   employment_duration   1000 non-null   category
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   category
 11  housing               1000 non-null   category
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   object
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: category(7), int64(7), object(3)
memory usage: 86.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   category
 6   employment_duration   1000 non-null   category
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   category
 11  housing               1000 non-null   category
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   category
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   object
 16  default               1000 non-null   object
dtypes: category(8), int64(7), object(2)
memory usage: 79.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   category
 6   employment_duration   1000 non-null   category
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   category
 11  housing               1000 non-null   category
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   category
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   category
 16  default               1000 non-null   object
dtypes: category(9), int64(7), object(1)
memory usage: 73.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   category
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   category
 3   purpose               1000 non-null   category
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   category
 6   employment_duration   1000 non-null   category
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   category
 11  housing               1000 non-null   category
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   category
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   category
 16  default               1000 non-null   category
dtypes: category(10), int64(7)
memory usage: 66.3 KB

In [7]:
data.shape

(1000, 17)

In [8]:
replacestruct={"checking_balance":{"< 0 DM":1,"1 - 200 DM":2,"> 200 DM":3,"unknown":-1},
            "credit_history":{"critical":1,"poor":2,"good":3,"very good":4,"perfect":5},
            "savings_balance":{"< 100 DM":1,"100 - 500 DM":2,"500 - 1000 DM":3,"> 1000 DM":4,"unknown":-1},
            "employment_duration":{"unemployed":1,"< 1 year":2,"1 - 4 years":3,"4 - 7 years":4,"> 7 years":5},
             "phone":{"yes":2,"no":1},
             "default":{"no":0,"yes":1}
                 }

In [9]:
c=["purpose","housing","other_credit",'job']

In [10]:
data=data.replace(replacestruct)

In [11]:
data=pd.get_dummies(data,columns=c)

In [12]:
data.head(20)

,checking_balance,months_loan_duration,credit_history,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,existing_loans_count,...,housing_other,housing_own,housing_rent,other_credit_bank,other_credit_none,other_credit_store,job_management,job_skilled,job_unemployed,job_unskilled
0,1,6,1,1169,-1,5,4,4,67,2,...,0,1,0,0,1,0,0,1,0,0
1,2,48,3,5951,1,3,2,2,22,1,...,0,1,0,0,1,0,0,1,0,0
2,-1,12,1,2096,1,4,2,3,49,1,...,0,1,0,0,1,0,0,0,0,1
3,1,42,3,7882,1,4,2,4,45,1,...,1,0,0,0,1,0,0,1,0,0
4,1,24,2,4870,1,3,3,4,53,2,...,1,0,0,0,1,0,0,1,0,0
5,-1,36,3,9055,-1,3,2,4,35,1,...,1,0,0,0,1,0,0,0,0,1
6,-1,24,3,2835,3,5,3,4,53,1,...,0,1,0,0,1,0,0,1,0,0
7,2,36,3,6948,1,3,2,2,35,1,...,0,0,1,0,1,0,1,0,0,0
8,-1,12,3,3059,4,4,2,4,61,1,...,0,1,0,0,1,0,0,0,0,1
9,2,30,1,5234,1,1,4,2,28,2,...,0,1,0,0,1,0,1,0,0,0
10,2,12,3,1295,1,2,3,1,25,1,...,0,0,1,0,1,0,0,1,0,0
11,1,48,3,4308,1,2,3,4,24,1,...,0,0,1,0,1,0,0,1,0,0
12,2,12,3,1567,1,3,1,1,22,1,...,0,1,0,0,1,0,0,1,0,0
13,1,24,1,1199,1,5,4,4,60,2,...,0,1,0,0,1,0,0,0,0,1
14,1,15,3,1403,1,3,2,4,28,1,...,0,0,1,0,1,0,0,1,0,0
15,1,24,3,1282,2,3,4,2,32,1,...,0,1,0,0,1,0,0,0,0,1
16,-1,24,1,2424,-1,5,4,4,53,2,...,0,1,0,0,1,0,0,1,0,0
17,1,30,5,8072,-1,2,2,3,25,3,...,0,1,0,1,0,0,0,1,0,0
18,2,24,3,12579,1,5,4,2,44,1,...,1,0,0,0,1,0,1,0,0,0
19,-1,24,3,3430,3,5,3,2,31,1,...,0,1,0,0,1,0,0,1,0,0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   checking_balance              1000 non-null   category
 1   months_loan_duration          1000 non-null   int64
 2   credit_history                1000 non-null   category
 3   amount                        1000 non-null   int64
 4   savings_balance               1000 non-null   category
 5   employment_duration           1000 non-null   category
 6   percent_of_income             1000 non-null   int64
 7   years_at_residence            1000 non-null   int64
 8   age                           1000 non-null   int64
 9   existing_loans_count          1000 non-null   int64
 10  dependents                    1000 non-null   int64
 11  phone                         1000 non-null   category
 12  default                       1000 non-null   category
 13  purpose_business              1000 non-null   uint8
 14  purpose_car                   1000 non-null   uint8
 15  purpose_car0                  1000 non-null   uint8
 16  purpose_education             1000 non-null   uint8
 17  purpose_furniture/appliances  1000 non-null   uint8
 18  purpose_renovations           1000 non-null   uint8
 19  housing_other                 1000 non-null   uint8
 20  housing_own                   1000 non-null   uint8
 21  housing_rent                  1000 non-null   uint8
 22  other_credit_bank             1000 non-null   uint8
 23  other_credit_none             1000 non-null   uint8
 24  other_credit_store            1000 non-null   uint8
 25  job_management                1000 non-null   uint8
 26  job_skilled                   1000 non-null   uint8
 27  job_unemployed                1000 non-null   uint8
 28  job_unskilled                 1000 non-null   uint8
dtypes: category(6), int64(7), uint8(16)
memory usage: 77.4 KB

In [14]:
x=data.drop("default",axis=1)
y=data['default']

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [16]:
model=DecisionTreeClassifier(criterion='gini',random_state=1)

In [17]:
model.fit(x_train,y_train)

DecisionTreeClassifier(random_state=1)

In [18]:
print(model.score(x_train,y_train))

1.0

In [19]:
print(model.score(x_test,y_test))

0.6933333333333334

In [20]:
pruned_model=DecisionTreeClassifier(criterion='gini',max_depth=3,random_state=1)

In [21]:
pruned_model.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=3, random_state=1)

In [22]:
print(pruned_model.score(x_train,y_train))

0.7528571428571429

In [23]:
print(pruned_model.score(x_test,y_test))

0.7433333333333333

In [24]:
#random forest
from sklearn.ensemble import RandomForestClassifier

In [25]:
random_forest_model=RandomForestClassifier(n_estimators=50,random_state=1,max_features=12)

In [26]:
random_forest_model.fit(x_train,y_train)

RandomForestClassifier(max_features=12, n_estimators=50, random_state=1)

In [27]:
print(random_forest_model.score(x_test,y_test))

0.7766666666666666

In [28]:
from sklearn.ensemble import AdaBoostClassifier

In [29]:
ada_model=AdaBoostClassifier(base_estimator=DecisionTreeClassifier(random_state=1))

In [30]:
ada_model.fit(x_train,y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(random_state=1))

In [31]:
print(ada_model.score(x_test,y_test))

0.6766666666666666

In [32]:
from sklearn.ensemble import GradientBoostingClassifier

In [33]:
gradient_model=GradientBoostingClassifier(n_estimators=50,max_depth=5)

In [34]:
gradient_model.fit(x_train,y_train)

GradientBoostingClassifier(max_depth=5, n_estimators=50)

In [35]:
print(gradient_model.score(x_test,y_test))

0.73